<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>관리자 페이지</title>
    <link type="text/css" rel="stylesheet" href="css/songstyle.css">
</head>
<body>
<hr><hr><hr>
<h1>관리자 페이지에는 무엇을 추가해야 할까요?</h1>
<hr><hr><hr>
</body>
</html>