<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>로그인 후 메인 화면</title>
    <link type="text/css" rel="stylesheet" href="css/songpro1.css">
</head>
<body>
<div id="header">
    <div class="inner_head">
        <div class="logo">
            <a href="mainpage-login.html"><img src="image/logo.jpg" width="250px" height="100px" alt="logo"></a>
        </div>
        <!-- <div class="pagename">
            <p>회원정보</p>
        </div> -->
        <div class="homefunc">
            <a href="/memberdata">송영훈 님</a>
            <a href="/mainpage">로그아웃</a>
        </div>
    </div>
</div>
<div id="nav">
    <div class="inner_nav">
        <!-- 카테고리 창을 nav로 넣을 지 섹션에 그대로 넣을지 고민 중 -->
    </div>
</div>
<div id="section">
    <div class="inner_section">
        <p class="round3">인기 게시글</p>
        <!-- 1번 인기 게시글-->
        <label>
            <p class="round4" style="top: -50px; left: 320px;">갤럭시S20FE 케이스</p><!--데이터 받아오면 인기 게시글의 제목으로 설정-->
            <img class="round_image" style="top: -64px;" src="image/main1.jpg"><!--데이터 받아오면 인기 게시글의 섬네일로 설정-->
        </label>
        <p class="round_small" style="top: -76px; width: 95px; ">송영훈</p>                                                          <!--작성자 받아오기-->
        <p class="round_small" style="top: -117px; left: 430px; color:gray; background-color: white; width: 40px;">01-28</p>    <!--게시 날짜 받아오기-->
        <p class="round_small" style="top: -128px;">조회 100</p>                                                                     <!--조회수 받아오기-->
        <p class="round_small" style="top: -169px; left: 410px; width: 60px;">추천 6</p>                                             <!--추천수 받아오기-->

        <!-- 2번 인기 게시글-->
        <label>
            <p class="round4" style="top: -448px; left: 530px; ">쓰레기통을 샀어요</p>
            <img class="round_image" style="top: -462px; left: 530px;" src="image/main2.jpg">
        </label>
        <p class="round_small" style="top: -474px; left: 530px; width: 95px; ">어쩌고저쩌고</p>
        <p class="round_small" style="top: -515px; left: 640px; color:gray; background-color: white; width: 40px;">01-27</p>
        <p class="round_small" style="top: -526px; left: 530px; ">조회 350</p>
        <p class="round_small" style="top: -567px; left: 620px; width: 60px; ">추천 50</p>

        <!--3번 인기 게시글-->
        <label>
            <p class="round4" style="top: -550px; left: 320px; ">피지오갤 로션 후기</p>
            <img class="round_image" style="top: -564px; left: 320px;" src="image/main3.jpg">
        </label>
        <p class="round_small" style="top: -576px; width: 95px; ">송영훈</p>
        <p class="round_small" style="top: -617px; color:gray; background-color: white; left: 430px; width: 40px;">01-27</p>
        <p class="round_small" style="top: -628px;">조회 166</p>
        <p class="round_small" style="top: -669px; left: 410px; width: 60px;">추천 16</p>

        <!-- 4번 인기 게시글-->
        <label>
            <p class="round4" style="top: -948px; left: 530px; ">뚜기뚜바오뚜기밥</p>
            <img class="round_image" style="top: -962px; left: 530px;" src="image/main4.jpg">
        </label>
        <p class="round_small" style="top: -974px; left: 530px; width: 95px; ">승우아빠</p>
        <p class="round_small" style="top: -1015px; color:gray; background-color: white; left: 640px; width: 40px;">01-26</p>
        <p class="round_small" style="top: -1026px; left: 530px; ">조회 5110</p>
        <p class="round_small" style="top: -1067px; left: 620px; width: 60px; ">추천 770</p>

        <div class="search_css">
            <form name="search" method="POST" action="##">
                <select name="search_option" class="search_opt" style="position: relative; top: -1px;">
                    <!-- <option selected hidden>검색옵션</option> -->
                    <option value="1" selected>제목</option>
                    <option value="2">내용</option>
                    <option value="3">제목+내용</option>
                    <option value="4">회원 아이디</option>
                </select>
                <input type="search" class="loginform" size="22" required style="font-size: 1em;">
                <input type="submit" class="pagefunc" value="검색" style="font-size: 0.8em;">
            </form>
        </div>
        <div class="mainpage_login">
            <a href="#writer미구현" style="top: -50px;">글쓰기</a>
            <a href="/mytext" style="top: -10px;">내 글</a>
            <a href="/myreply" style="top: 30px;">내 댓글</a>
        </div>
    </div>
</div>
<div id="footer">
    <div class="inner_footer">
        <hr>
        <p class="footer_css">
            제작자 : 송영훈<br>
            연락처 : car0628@naver.com
        </p>
    </div>
</div>
</body>
</html>