<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <link type="text/css" rel="stylesheet" href="templates/css/songpro1.css">
</head>
<body>
<div id="header">
    <div class="inner_head">
        <div class="logo">
            <a href="file:///C:/Users/car06/Desktop\front/mainpage_login.html"><img src="logo.jpg" width="250px" height="100px" alt="logo"></a>
        </div>
        <div class="pagename">
            <p>회원정보</p>
        </div>
        <div class="homefunc">
            <a href="file:///C:/Users/car06/Desktop\front/memberdata.html">송영훈 님</a>
            <a href="file:///C:/Users/car06/Desktop\front/mainpage.html">로그아웃</a>
        </div>
    </div>
</div>
<div id="section">
    <div class="inner_section">
        <form name="memberdata" method="post" action="#">
            <div>
                <table align="center"><!--테이블 다 제거하고 left, top으로 자리 잡아서 설정으로 바꾸기--><!--margin으로 자리 잡기;-->
                    <tr>
                        <td class="round1">아이디</td>
                        <td><input type="text" name="id" size="18" class="loginform" disabled value="car0628" required></td>
                    </tr>
                    <tr>
                        <td class="round1">비밀번호</td>
                        <td><input type="password" name="pwd" size="18" class="loginform"></td>
                    </tr>
                    <label>
                        <tr>
                            <td class="round1">비밀번호 확인</td>
                            <td><input type="password" name="pwdck" size="18" class="loginform"></td>
                            <td class="pagefunc">일치</td>
                        </tr>
                    </label>
                    <label>
                        <tr>
                            <td class="round1">이름</td>
                            <td><input type="text" name="name" size="18" class="loginform" disabled value="송영훈" required></td>
                        </tr>
                    </label>
                    <label>
                        <tr>
                            <td class="round1">별명</td>
                            <td><input type="text" name="nick" size="18" class="loginform" value="송영훈"></td>
                            <!--미입력시 이름 값이 별명 값으로 오게 자바스크립트 설정-->
                        </tr>
                    </label>
                    <tr>
                        <td class="round1">성별</td>
                        <td><label><input type="radio" name="gender" value="1" required checked>남자</label>
                            <label><input type="radio" name="gender" value="2" required>여자</label>
                            <label><input type="radio" name="gender" value="3" required>비공개</label></td>
                    </tr>

                    <tr>
                        <td class="round1">생년월일</td>
                        <td><input type="text" name="birth" size="18" class="loginform" placeholder="19970628" required value="19970628" disabled></td>
                    </tr>
                    <tr>
                        <td class="round1">휴대폰번호</td>
                        <td><input type="tel" name="phone" size="18" class="loginform" placeholder="01047043586" required value="01047043586"></td>
                    </tr>
                    <tr>
                        <td class="round1">우편번호</td>
                        <td><input type="text" name="zipcode" size="18" class="loginform_readonly" readonly required value="52723"></td>
                        <td class="pagefunc">주소검색</td>
                    </tr>
                    <tr>
                        <td class="round1">도로명주소</td>
                        <td><input type="text" name="roadname" size="18" class="loginform_readonly" readonly required value="진주시 강남로177번길 8-5"></td>
                    </tr>
                    <tr>
                        <td class="round1">상세주소</td>
                        <td><input type="text" name="roadname" size="18" class="loginform" placeholder="상세주소를 입력하세요" required value="에코빌 101호"></td>
                    </tr>
                </table>
                <table align="center">
                    <tr>
                        <td><input type="submit" class="round1" value="정보수정">
                        <td><a class="functionlink" href="file:///C:/Users/car06/Desktop\front/mainpage_login.html">취소</a></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
</body>
</html>