<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>내 댓글</title>
    <link type="text/css" rel="stylesheet" href="css/songstyle.css">
</head>
<body>
<div id="header2">
    <div class="inner_head2">
        <div class="logo">
            <a href="/mainpage_login"><img src="image/logo.jpg" width="250px" height="100px" alt="logo"></a>
        </div>
        <div class="pagename">
            <p>내 댓글</p>
        </div>
        <div class="homefunc2">
            <a href="/memberdata">송영훈 님</a>
            <a href="/mainpage">로그아웃</a>
        </div>
    </div>
</div>
<div id="section">
    <div class="inner_section2">
        <!--내가 쓴 1번 글--><!--추후에는 for문 사용해서 자동으로-->
        <p class="round_mytext" style="margin-left: 210px;">공지사항</p>    <!--1번 댓글 카테고리 값 받아오기-->
        <a class="round_mytext" href="#myreply1" style="margin-left: -2px; background-color:lightgray; border: solid gray; color: black; text-decoration: none; width: 350px; text-align: left;">댓글 테스트 중입니다 어쩌고저쩌고</a><!--1번 댓글 내용 받아오기-->
        <p class="round_mytext" style="margin-left: -2px; width: 120px; background-color: white; color: black; ">21-01-22 03:30</p> <!--1번 댓글 작성시간 받아오기-->

        <!-- 내가 쓴 2번 글-->
        <p class="round_mytext" style="margin-left: 210px;">공지사항</p>
        <a class="round_mytext" href="#myreply2" style="margin-left: -2px; background-color:lightgray; border: solid gray; color: black; text-decoration: none; width: 350px; text-align: left;">테스트 2</a>
        <p class="round_mytext" style="margin-left: -2px; width: 120px; background-color: white; color: black; ">21-01-23 11:11</p>

        <!-- 내가 쓴 3번 글-->
        <p class="round_mytext" style="margin-left: 210px;">식품</p>
        <a class="round_mytext" href="#myreply3" style="margin-left: -2px; background-color:lightgray; border: solid gray; color: black; text-decoration: none; width: 350px; text-align: left;">치킨은 언제나 진리입니다</a>
        <p class="round_mytext" style="margin-left: -2px; width: 120px; background-color: white; color: black; ">21-01-24 08:01</p>
    </div>
</div>