<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>내 글</title>
    <link type="text/css" rel="stylesheet" href="templates/css/songpro1.css">
</head>
<body>
<div id="header2">
    <div class="inner_head2">
        <div class="logo">
            <a href="file:///C:/Users/car06/Desktop\front/mainpage_login.html"><img src="logo.jpg" width="250px" height="100px" alt="logo"></a>
        </div>
        <div class="pagename">
            <p>내 글</p>
        </div>
        <div class="homefunc2">
            <a href="file:///C:/Users/car06/Desktop\front/memberdata.html">송영훈 님</a>
            <a href="file:///C:/Users/car06/Desktop\front/mainpage.html">로그아웃</a>
        </div>
    </div>
</div>
<div id="section">
    <div class="inner_section2">
        <!--내가 쓴 1번 글--><!--추후에는 for문 사용해서 자동으로-->
        <p class="round_mytext" style="margin-left: 180px;">공지사항</p>    <!--1번 글 카테고리 값 받아오기-->
        <a class="round_mytext" href="#mytext1" style="margin-left: -2px; background-color:lightgray; border: solid gray; color: black; text-decoration: none; width: 350px; text-align: left;">test</a>          <!--1번 글 제목 값 받아오기-->
        <p class="round_mytext" style="margin-left: -2px; width: 90px; ">댓글 1개</p>        <!--1번 글 댓글 값 받아오기-->
        <p class="round_mytext" style="margin-left: -2px; width: 120px; background-color: white; color: black; ">21-01-22 03:24</p> <!--1번 글 작성시간 받아오기-->

        <!-- 내가 쓴 2번 글-->
        <p class="round_mytext" style="margin-left: 180px;">공지사항</p>
        <a class="round_mytext" href="#mytext2" style="margin-left: -2px; background-color:lightgray; border: solid gray; color: black; text-decoration: none; width: 350px; height: 22px; text-align: left; ">테스트2</a>
        <p class="round_mytext" style="margin-left: -2px; width: 90px; ">댓글 1개</p>
        <p class="round_mytext" style="margin-left: -2px; width: 120px; background-color: white; color: black; ">21-01-23 10:37</p>

        <!-- 내가 쓴 3번 글-->
        <p class="round_mytext" style="margin-left: 180px;">식품</p>
        <a class="round_mytext" href="#mytext3" style="margin-left: -2px; background-color:lightgray; border: solid gray; color: black; text-decoration: none; width: 350px; text-align: left;">처갓집 양념치킨 먹어봤습니다</a>
        <p class="round_mytext" style="margin-left: -2px; width: 90px; ">댓글 4개</p>
        <p class="round_mytext" style="margin-left: -2px; width: 120px; background-color: white; color: black; ">21-01-24 06:57</p>
    </div>
</div>