<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>상세 글 보기</title>
    <link type="text/css" rel="stylesheet" href="css/songstyle.css">
</head>
<body>
<div id="header2">
    <div class="inner_head2">
        <div class="logo">
            <a href="file:///C:/Users/car06/Desktop\front/mainpage_login.html"><img src="logo.jpg" width="250px" height="100px" alt="logo"></a>
        </div>
        <div class="pagename">
            <p>식품</p>
        </div>
        <div class="homefunc2">
            <a href="file:///C:/Users/car06/Desktop\front/memberdata.html">송영훈영송영훈 님</a>
            <a href="file:///C:/Users/car06/Desktop\front/mainpage.html">로그아웃</a>
        </div>
    </div>
</div>
<div id="nav">
    <div class="inner_nav">
        <!-- 카테고리 창을 nav로 넣을 지 섹션에 그대로 넣을지 고민 중 -->
    </div>
</div>
<div id="section">
    <div class="inner_section" style="height: 900px;">
        <div class="detail_postspace">
            <p class="detail_title">처갓집 양념치킨 먹어봤습니다</p>
            <div class="detail_data" style="margin-top: -10px; margin-bottom: -9px;" >
                <p class="detail_data_writer" style="width: 120px;">송영훈영송영훈</p>
                <p class="detail_data_writer" style="width: 82px;">식품식품식</p>
                <p class="detail_data_writer"style="width: 113px;">조회 999999회</p>
                <p class="detail_data_writer"style="width: 105px;">댓글 99999개</p>
                <p class="detail_data_writer"style="width: 105px;">추천 99999개</p>
                <p class="detail_data_writer" style="width: 127px;">21-02-01 02:20</p>
            </div>
            <div class="detail_text">
                <p class="detail_text_text">
                    어쩌고 저쩌고 너무 맛있고 저쩌고 어쩌고 근데 비싸고어쩌고 근데 비싸고쩌고 근데 비싸고
                    근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고
                    근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어어쩌고 근데 비싸고어쩌고
                    근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고 근데 비싸고어쩌고 근데
                </p>
                <img class="detail_text_image" src="chicken.jpg" style="width: 400px; height: 250px;">
            </div>
            <div class="detail_control" style="margin-top: 5px;">
                <a href="file:///C:/Users/car06/Desktop/front/category.html" class="detail_control_control">목록</a>
                <a href="#" class="detail_control_control" style="margin-left: 240px;" >추천</a><!--input button으로 해야될듯?-->
                <a href="#" class="detail_control_control">신고</a><!--input button으로 해야될듯? 사이즈는 텍스트에 맞게;;;-->
                <a href="#" class="detail_control_control" style="margin-left: 197px;" >수정</a>
                <a href="#" class="detail_control_control">삭제</a><!--input button으로 해야될듯?-->
            </div>
        </div>
        <div class="reply_space">
            <p class="detail_data_writer" style="margin-top: 30px; width: 100px; color: whitesmoke; background-color: lightgray;">댓글 4개</p>
            <div class="reply_replyspace">
                <div class="reply_one">
                    <a href="#" class="reply_writer">송영훈영송영훈</a>
                    <p class="reply_date">21-02-01 06:45</p>
                    <a href="#inputtype으로처리할예정" class="reply_function" style="margin-left: 357px;">수정</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">답글</a><!--클릭반응오면 노란색으로 변하게-->
                    <a href="#inputtype으로처리할예정" class="reply_function">신고</a>
                    <p class="reply_text">BBQ치킨도 먹고 싶다 뿌슝빠슝</p>
                </div>

                <div class="reply_one">
                    <a href="#" class="reply_writer">치킨그렇게먹는</a>
                    <p class="reply_date">21-02-01 07:09</p>
                    <a href="#inputtype으로처리할예정" class="reply_function" style="margin-left: 357px; visibility: hidden;" >수정</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">답글</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">신고</a>
                    <p class="reply_text">치킨 그렇게 먹는 거 아닌데 진짜 답답하네요 정말로 신고합니다</p>
                </div>

                <div class="reply_one">
                    <a href="#" class="reply_writer">족발집사장</a>
                    <p class="reply_date">21-02-01 07:12</p>
                    <a href="#inputtype으로처리할예정" class="reply_function" style="margin-left: 357px; visibility: hidden;" >수정</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">답글</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">신고</a>
                    <p class="reply_text">치킨 먹지말고 우리집에서 족발 시켜서 먹으셈 안 그러면 고소할꺼임</p>
                </div>

                <div class="rereply_one">
                    <a href="#" class="reply_writer">송영훈영송영훈</a>
                    <p class="reply_date">21-02-01 07:20</p>
                    <a href="#inputtype으로처리할예정" class="reply_function" style="margin-left: 315px;" >수정</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">답글</a>
                    <a href="#inputtype으로처리할예정" class="reply_function">신고</a>
                    <p class="rereply_text">고소하면 참기름? 하하하하</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>