<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link type="text/css" rel="stylesheet" href="../songpro1.css">
</head>
<body>
<div id="header2">
    <div class="inner_head2">
        <div class="logo">
            <a href="file:///C:/Users/car06/Desktop\front/mainpage.html"><img src="logo.jpg" width="250px" height="100px" alt="logo"></a>
        </div>
        <div class="pagename">
            <p>아이디 찾기</p>
        </div>
    </div>
</div>
<div id="section">
    <div class="inner_section" style="height: 320px;">
        <div class="search_idbox">
            <form name="search_id" method="post" action="#">
                <p class="search_id">가입하신 이름과 생년월일을 입력해주세요</p><br><br>
                <p class="search_id_name" style="margin-bottom: 4px;">이름</p>
                <input type="text" class="search_id_form" name="name" size="15" autofocus required placeholder="송영훈"><br>
                <p class="search_id_name" style="margin-top: 4px;">생년월일</p>
                <input type="text" class="search_id_form" name="birth" size="15" required placeholder="19970628"><br>
                <input type="submit" value="찾기" class="search_id_button" style="margin-left: 365px;">
                <a class="search_id_button" style="padding-top: 1px; padding-bottom: 1px;" href="file:///C:/Users/car06/Desktop\front/mainpage.html">취소</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>